<mat-sidenav-container>
  <!-- 
    variable template commence par '#' pour 
    declencher le menu dans la fonction click 
    -->
  <mat-sidenav #sidenav mode="side" fixedInViewport="">
    <mat-nav-list>
      <a routerLink="/" mat-list-item>Home</a>
      <a routerLink="/to-do" mat-list-item>To-Do</a>
      <a routerLink="/" mat-list-item>Profile</a>
      <a routerLink="/utilisateurs" mat-list-item>Utilisateurs</a>
      <a routerLink="/todo-table" mat-list-item>To-Do Table</a>
      <a routerLink="/calculatrice" mat-list-item>Calculatrice</a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <div class="flex flex-col h-screen">
      <div id="div-toolbar">
        <mat-toolbar>
          <button mat-icon-button (click)="sidenav.toggle()">
            <mat-icon>menu</mat-icon>
          </button>
          <span> {{ title }} </span>
        </mat-toolbar>
      </div>
      <!-- flex-1 pour div-router occupe la place qui reste -->
      <div id="div-router" class="flex-1">
        <router-outlet />
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
